@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
*,
*::before,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 0.95rem;
  line-height: 1.6;
  background-color: #fff;
  color: #000;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}
.heading {
  font-size: 2rem;
  text-align: center;
  margin: 1em auto;
}
.input-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  border: 3px solid #000;
  height: 335px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 0.35rem;
}
input {
  width: 90%;
  text-align: center;
  padding: 0.85em;
  margin-bottom: 1.3em;
  border-radius: 0.25rem;
  color: #3d56ae;
  font-size: 1rem;
  border: 1px solid #000;
}
input:focus-visible {
  outline: 0;
}
.button {
  color: #fff;
  background-color: #000;
  padding: 0.755rem 1em;
  font-size: 1rem;
  border: 1px solid #000;
  border-radius: 0.25rem;
  cursor: pointer;
}
.button:hover {
  background-color: #fff;
  color: #000;
}
.exam-container {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
  border: 2px solid #1700ff;
  margin-top: 2em;
  border-radius: 5px;
}
.row {
  display: flex;
}
.q-body {
  width: 66%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
  max-width: 1000px;
}
.questions-wraper {
  width: 100%;
}
.question {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
}
.options {
  font-size: 1.5rem;
  display: flex;
  max-width: 689px;
  margin: 1em auto;
}
.radio-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.q-heading {
  font-size: 2rem;
  text-align: center;
}
.options-radio {
  height: 20px;
  width: 15%;
  margin: 0.35em auto;
}
.options-label {
  margin: 0.35em auto;
}
.options-radio:hover {
  cursor: pointer;
}

.btn-1,
.btn-2 {
  margin: 1.5em;
}
.btn-2 {
  float: right;
}
.result-container{
  width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result-container h1{
  font-size: 3rem;
    margin-bottom: 0.5em;
}
.result-container span{
  color: #0000ff;
}
.btn-3{
  background-color: #0000ff;
color: #fff;
border: 1px solid #0000ff;
}
.active{
background-color: #fff;
color: #000;
}